<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Design your drink!</title>
  <link rel="stylesheet" th:href"@{/styles.css}">
</head>

<body>
  <h1>Design your drink!</h1>
  <img alt="logo" th:src="@{/images/Tipsy.webp}">

  <form method="POST" th:object="${drink}">
    <div class="grid">
      <div class="ingredient-group" id="alcohols">
        <h3>Choose your alcohol</h3>
        <div th:each="ingredient : ${alcohol}">
          <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.name}">
          <span th:text="${ingredient.name}">INGREDIENT</span><br>
        </div>
      </div>
      <div class="ingredient-group" id="juices">
        <h3>Pick your juices</h3>
        <div th:each="ingredient : ${juice}">
          <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.name}">
          <span th:text="${ingredient.name}">INGREDIENT</span><br>
        </div>
      </div>
      <div class="ingredient-group" id="syrups">
        <h3>Pick your syrups</h3>
        <div th:each="ingredient : ${syrup}">
          <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.name}">
          <span th:text="${ingredient.name}">INGREDIENT</span><br>
        </div>
      </div>

    </div>

    <div>
      <h3>Name your drink:</h3>
      <input type="text" th:value="*{name}">
      <br>
    </div>

    <button>Submit Your Drink</button>
  </form>
</body>

</html>
